body {
    background-image: url("website background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    text-align: center;
    font-size: 50px;
    color: #d6c615;
    margin-left: 20px;
    top: -20px;
    text-shadow: 2px 2px black;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    text-align: center;
    text-wrap: pretty;
    font-size: 20px;
    word-wrap: break-word;
    word-break: normal;

}

.img-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.img-container img{
    width: 400px;
    height: 300px
    
}

nav a {
    display: inline-block;
    text-align: center;
    padding: 10px 20px;

}

nav {
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    background-color: #a9c5f5;
    margin-top: -35px;
}

.footer-all {
    display: flex;
    justify-content: flex-end;
    background-color:#a9c5f5;
    font-family: sans-serif;
    align-items: left;
    font-size: 12px;
    margin-top: auto;
}